.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.background {
  z-index: -1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  background-color: hsl(185, 75%, 39%);
}

.background-top {
  height: 1200px;
  position: absolute;
  right: 50%;
  bottom: 40%;
}

.background-bottom {
  height: 1200px;
  position: absolute;
  left: 50%;
  top: 40%;
}